<style>
.text-block{
  padding-top: 50px;
}

article {
    margin-left: 3%;
}

}
article, .lable-head, .label-name {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vcard {
    width: 300px; height: 200px;
    background: #e00;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.vcard div:first-child {
    height: 65px;
    padding-top: 5px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
}
h1 {
    padding: 0; margin: 0;
}
h1 {
    font-size: 2em;
}
.fn {
    background: #fff;
    height: 120px;
    font-family: "Coming Soon", "Comic Sans MS", cursive;
    text-align: center;
    padding-top: 5px;
}
.given-name {
    font-size: 3em;
    font-weight: bold;
}
.nickname {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
}
.mni{
  color: #fff;
}
.hello{
  color: #fff;
  font-weight: 600;
}
</style>


<link rel="profile" href="http://microformats.org/profile/hcard">

<article class="vcard">
    <div>
        <h1 class="hello">Hello</h1>
        <p class="mni">my name is</p>
    </div>
    <div class="fn">
        <p class="given-name">Joshua</p>
        <address class="nickname">@JoshuaToys</address>
    </div>
</article>

<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>



<p class="text-block">
  At the moment I am a Web developer working in Massachusetts working primarily with PHP. When my coding journey began I had no experience with PHP. Though a relatively short time has passed I still think I have made quite a bit of prgoress. My primary responsabilites are handling our companies online presense, managing our CRM, building and desgining websites with PHP and Javascript or whatever other tools may be necessary, using APIs, and unfortunately... we have some stuff on wordpress as well.
</p>

<p>
  I enjoy working with ruby and Javascript. However- I most enjoy just building tools, refactoring, designing beautiful things, and making tasks easier through automation. There is a strange satisfaction that comes from taking a difficult task and making the process more time or energy efficient. To keep afloat with the latest and greatest technologies and best practices I am constantly in the process of building toy applications, attending conferences, and meetups.
</p>

<p>
  Beyond the world of web development you can catch me sipping on some tea, riding my Harley, watching stand-up or King of the Hill, traveling, learning traditional languages, and playing the ocassional game.
</p>
