<h1 class="page-header">Welcome, my name is Joshua.</h1>
<p>
  At the moment I am a PHP developer, and have been working with PHP for less than a year. My primary responsabilites are handling our companies online presense, managing our CRM via API, building and desgining websites with PHP and Javascript; unfortunately we also have some stuff on wordpress as well.
</p>

<p>
  I enjoy working with ruby and Javascript. However I most enjoy building tools, designing beautiful things, and making tasks easier through automation. To keep afloat with the latest and greatest technologies I am constantly in the process of building toy applications, attending conferences, and meetups.
</p>

<p>
  Outside of web development you can catch me drinking tea, riding my Harley, watching stand-up, traveling and learning traditional languages.
</p>
