<style>
  .toymech small{
    visibility:hidden;
    padding: 50px;
  }
  .toymech:hover small {
    visibility:visible;
  }
</style>

<div class="toymech text-center">
  ToyMech Pro.
  <br>
  <small>
    Siddhartha does nothing – he waits, he thinks, he fasts – but he passes through the things of the world like the stone through the water, without bestirring himself.
    He is drawn forward and he lets himself fall. His goal draws himself to it, for he lets nothing enter his mind that interferes with the goal.
    <br><br>
  </small>
</div>


