<style>
.original-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center.original-container{
    padding: 10px 30px;
}
</style>

<div class="text-center">
    <span id="toymech">ToyMech Pro.</span>
</div>
    <div id="hiddentext" style="display: none">
        <div class="text-center original-container">
            "Siddhartha does nothing – he waits, he thinks, he fasts – but he passes through the things of the world like the stone through the water, without bestirring himself. He is drawn forward and he lets himself fall. His goal draws himself to it, for he lets nothing enter his mind that interferes with the goal."
        </div>
    </div>
</div>


<script>
    $( "#toymech" ).click(function() {
        $( "#hiddentext" ).toggle();
    });
</script>
